body {
	background-color: $steel-blue;
	color: #fff;
  padding: 0;
  margin: 0;
}


h1, h2, h3, h4, h5, h6 {
	color: #fff;
}

a {
    img {
      border: none; 
    }
  }

  img {
  	max-width: 100%;
  }

.logo {
	width: 50px;
}


.article {
    .article__title {
        text-align: center;
    }
}