//	Header
//--------------------------------

header {
	overflow: hidden;
	&.primary {
		background-color: #fff;
		padding: 10px;
	}
	h1 {
		color: $moss;
		float: right;
		font-size: 20px;
		text-transform: uppercase;
		strong {
			font-size: 31px;
		}
	}
}