.mosaic {
    overflow: hidden;
    padding: 1em 0;
    .indent {
        width: 100%;  
    }
    h1 {
        color: $steel-blue;
        font-size: 26px;
    }
    article {
        background-color: lighten($slate, 10%);
        padding: 0;
        &:hover {
            background-color: lighten($slate, 20%);
        }
        h1 {
           margin: 0;
        }
    }
}

.tiles {
    list-style: disc;
    padding: 0;
    ul {
        padding: 1em;
        margin: 0;
    }
    li {
        display: block;

    }
}

.tile-heading {
    cursor: pointer;
}

.tile-content {
}

.tile {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    header {
        padding: 1em;
    }
}

@media screen and (min-width: 1024px) {
    .mosaic {
        background-color: lighten($sand, 5%);
        .indent {
            width: 940px;
            margin: 0 auto;           
        }
    }

    .tiles {
        > .tile {
            padding: 0;
        }
    } 
}